<%- include('../partials/header.ejs') %>

<div id="showBook">
    <p>Author: <%= book.personName %></p>
    <p>Title: <%= book.titleText %></p>
    <p>City of Publication: <%= book.cityOfPublication %></p>
    <p>Publishing Date: <%= book.publishingDate %></p>
</div>

<div class="action-bar">
    <a class="action" href="/books/<%= book._id %>/edit">Edit book</a>
    <form action="/books/<%= book._id %>?_method=DELETE" method="POST"><button type="submit" class="action">Delete book</button></form>
    <a class="action" href="/books">Return to overview</a>
</div>

<%- include('../partials/footer.ejs') %>