<%- include('../partials/header.ejs') %>

<div id="showBook">
    <p>Author: <%= book.personName %></p>
    <p>Title: <%= book.titleText %></p>
    <p>City of Publication: <%= book.cityOfPublication %></p>
    <p>Publishing Date: <%= book.publishingDate %></p>
</div>

<a href="/books/<%= book._id %>/edit"><button>Edit</button></a>
<form action="/books/<%= book._id %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
<a href="/books"><button>Overview</button></a>

<%- include('../partials/footer.ejs') %>